<div id="home-container", class="container">
  <div class="row marquee">
    <div class="col marquee--inner">
      <h1 class="main-title">
        <p><span>Alpha Blog </span> is a personal blog <br> created by the engineer <br> Serlle Rosales.</p>
      </h1>
      <p>Perfect for starting and practicing Ruby on Rails, CSS, HTML and JS. <br> Join me on this adventure. Lets go!</p>
      <p><%= link_to "Sign Up", signup_path, class: "btn btn-outline-primary btn-lg"%> <button type="button" class="btn btn-primary btn-lg">Log In</button></p>
    </div>
    <div id="img-custom__home", class="col-md-5 text-center"></div>
  </div>
</div>
